body {
  text-align: center;
  background-color: #242526;
  color: white;
  font-style: oblique;
  font-size: 200%;
}

h1 {
  font-size: x-large;
  
}

h2 {
  border-top: 2px solid #616161;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 1%;
  padding-bottom: 1%;
}

